.navbar{
    -webkit-box-shadow: 0px 22px 34px -21px rgba(33,37,41,0.33);
    -moz-box-shadow: 0px 22px 34px -21px rgba(33,37,41,0.33);
    box-shadow: 0px 22px 34px -21px rgba(33,37,41,0.33);
    
}

.links{
    font-size: 1.2em;
}

.loginBtn{
    background-color: #212529;
    border-radius: 20px;
    border-color: #212529;
    transition: all 0.5s;
}

.loginBtn:hover{
    background-color: #212529;
    transform: scale(1.05);
    border-color: #212529;
}

.signUpBtn{
    background-color: #13d461;
    border-radius: 20px;
    border-color: #13d461;
    transition: all 0.5s;
}

.signUpBtn:hover{
    background-color: #13d461;
    transform: scale(1.05);
    border-color: #13d461;
}